#jinja2:lstrip_blocks: True
 Host {{ host_name }}
   User {{ remote_user }}
   IdentityFile {{ remote_dev_box_key_path }}
   Hostname {{ outputs.outputs.instance_public_dns.value|safe }}
   ServerAliveInterval 120
   ForwardAgent yes
